*{
    margin: 0%;
    padding: 0%;
}
.first-page{
    text-align: center;
    background-image: url(./images/donation13.jpg);
    background-position: center;
    width: 1370px;
    height: 430px;
    Background-repeat:no-repeat;
    background-size: cover;
    padding-top: 15%;
   
    
}
.text{
    font-size: 25px;
    color: white;
}
.need-title{
    font-size: 70px;
    color: white;
}
.firstButton{
    padding:  10px 35px;
    background-color: rgb(212, 71, 71);
    border-radius: 8px;
    font-size: 18px;
    color: rgb(172, 172, 172);
    margin: none;
    outline: 0px;
    border: 0px;
}